@import url('https://fonts.googleapis.com/css?family=Thasadith|Open+Sans');

$accent-color: pink;
$dark-gray: #424242;
$text-color: #424242;
$button-color: lightblue;
$link-hover-color: lightgreen;
$title-font: 'Thasadith', sans-serif;
$body-font: 'Open Sans', sans-serif;
