@import url('https://fonts.googleapis.com/css?family=Thasadith');

$text-color: #424242;
$accent-color: #B2DFDB;
$link-color: #C8E6C9;
$translucent: rgba(255,255,255,0.9);

$title-font: 'Thasadith', Helvetica, Arial, sans-serif;
